// you can change colors here
$theme-color: rgb(100, 209, 193);
$content-width: 960px;
$isDarkmode: enable;

$bg-color: (
  light: rgb(179, 232, 240),
  dark: #222626, 
);

.appearance-wrapper{
  display: none;
}

.outlook-dropdown{
  display: flex;
  min-width: auto;
}

.outlook-dropdown>*{
  border: 0px;
}

.vp-tab{
  background:#1824277a;
}

.vp-catalog-child-title{
  margin: 16px auto;
}